@font-face {
    font-family: 'mooli-regular';
    src: url('/mooli/mooli-regular.ttf');
  }

html {
    height: 100%;
}

/* paddomg & margin */

#padding {
    border: 3px solid #333D29;
    border-radius: 5px;
    padding: 50px;

}
#margin {
    border: 3px solid #333D29;
    border-radius: 15px;
    margin: 50px;
    background-color: #B6AD90;
}

/* nav bar */

#nav {
    border: 3px solid #582F0E;
    border-radius: 20px;
    background-color: #B6AD90;
    margin: auto;
    width: 600px;
    height: 65px;
    margin-bottom: 10px;
    text-align: center;

}

#nav a {
    border: 3px solid #414833;
    padding:5px;
    border-radius: 20px;
    text-decoration: none;
    color: #582F0E; 
    font-size: 16px;
    background-color: #969c7f;
    font-weight: 600;
}

#nav li {
    list-style-type: none;
    display: inline;

}

/* homepage */

#home img {
    display: block;
    margin: auto;
    background-color: #868d70;
}

#home h2 {
    font-size: 40px;
    color: #333D29;
}
#home p, h4, h2 {
    text-align: center;
}
#aboutMe {
    text-indent: 15%;
}
#home {
    background: url('images/beige-background.png');
    font-family: 'mooli-regular';
    font-size: 20px;
    color:#582F0E;
    width: 100vw;
    height: 100vh;
    font-weight: 800;
}


/* contact page */

#contact-list {
    list-style-type: none;
    display: inline;
    margin: 50px;
    text-align: center;
    font-size: 40px;
}
#contact-box {
    border: 4px solid #582F0E;
    padding: 30px 110px 210px;
    border-radius: 50px 20px;
    background-color: #A68A64;
}
#contact {
    font-family: 'mooli-regular';
    font-size: 20px;
    color:#582F0E;
    font-weight: 800;

    background: url('images/beige-shadow-background.png');

    width: 100vw;
    height: 100vh;
}
#contact a {
    text-decoration: none;
    color: #333D29;

}

/* about me page */

#about {
    background: url('images/green-background.jpg');
    background-repeat: no repeat;

    font-family: 'mooli-regular';
    font-size: 20px;

    color:#582F0E;

    width: 100vw;
    height: 100vh;

    font-weight: 800;

    padding: 50px;
    margin: 50px;
}
#about img {
    width: 50%;
    border-radius: 20px;
}
#about h1 {
    text-align: center;
    margin: 40px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-items: center;
    padding: 50px;
}
.box1    {
    grid-column: 1/2;
}

/* projects page */

#projects {
    background: url('images/pink-background.jpg');
    background-repeat: no repeat;
    background-size: cover;

    font-family: 'mooli-regular';
    font-size: 20px;

    color:#643711;



}

#projects h1 {
    background-color: #dfa3a6;
    border-radius: 20px;
    width: 800px;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    border: 4px solid #582f0eaf;
}

#projects nav {
    background-color: #9b9b85;
}

#projects a {
    background-color: rgba(223, 223, 169, 0.541)
}

#projects img {
    max-width: 100%;
    border-radius: 20px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    row-gap: 30px;
    justify-content: space-around;
}
.flex-container div {
    flex-basis: 600px;
    border-radius: 20px;
    background-color: #db9598da;
    padding: 30px;
    border: 3px solid #582f0eab;
    text-align: center;
    margin: 30px;
}

.flex-container h2 {
    background-color: rgba(255, 243, 240, 0.788);
    border-radius: 30px;
    width: 600px;
    font-size: 50px;
    margin: 30px auto;
    color:#884b1a;
}
.proj1 { flex-grow: 1;}
.proj2 { flex-grow: 2;}
